<!--
  This template loads for the 'tab.index' state (app.js)
-->
<style>
  .tabs{
    /*display: none;*/
  }
</style>
<div class="bg-image">
<content scroll-event-interval="20" on-refresh="refreshData()" scroll-effects scrollbar-y="false">
  		<div id="main-content" class="container-fluid">
  			<div class="row">
  				<div class="col-xs-12">
	    			<div class="logo"></div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12">
			    	<nav id="menu" class="menu-nav">
			    		<ul>
			    			<li><a href=""><img src="img/btn01.png" alt=""></a></li>
			    			<li><a href=""><img src="img/btn02.png" alt=""></a></li>
			    			<li><a href=""><img src="img/btn03.png" alt=""></a></li>
			    			<li><a href=""><img src="img/btn04.png" alt=""></a></li>
			    		</ul>
			    	</nav>
  				</div>
  			</div>
  		</div>

</content>
</div>