<!--
  This template loads for the 'tab.index' state (app.js)
-->
<div class="bg-image">
  <ion-view title="Protada" left-buttons="leftButtons" right-buttons="rightButtons" hide-nav-bar="true">
    <ion-content has-header="false" padding="false">
    		<div id="main-content">
    			<div class="logo"></div>
        	<nav id="menu" class="menu-nav">
        		<ul>
        			<li><a href="" ng-click="signIn()"><img src="img/btn01.png" alt=""></a></li>
        			<li><a href=""><img src="img/btn02.png" alt=""></a></li>
        			<li><a href=""><img src="img/btn03.png" alt=""></a></li>
        			<li><a href=""><img src="img/btn04.png" alt=""></a></li>
        		</ul>
        	</nav>
    		</div>
    </ion-content>
  </ion-view>
</div>